<h1>Meu Perfil</h1>

{% if user.is_authenticated %}
    <p>Bem-vindo, {{ user.username }} | <a href="{% url 'user_logout' %}">Sair</a></p>
{% else %}
    <a href="{% url 'login' %}">Entrar</a>
{% endif %}

{% if user.is_authenticated %}
    {% if employees %}
        <ul>
            <li>
                <strong>Nome:</strong> {{ employees.name }} <br>
                <strong>Função:</strong> {{ employees.function }} <br>
                <strong>Email:</strong> {{ employees.email }} <br>
                <a href="{% url 'employee-edit' employees.pk %}">Editar Perfil</a> |
                <a href="{% url 'employee-delete' employees.pk %}">Deletar Perfil</a>
            </li>
          </ul>
    {% else %}
    {% endif %}
{% endif %}
