<!-- templates/employee_list.html -->
<table>
  <thead>
      <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Função</th>
          <th>Ações</th>
      </tr>
  </thead>
  <tbody>
      {% for employee in employees %}
      <tr>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.function }}</td>
          <td>
              <a href="{% url 'employee-edit' employee.id %}">Editar</a> |
              <a href="{% url 'employee-delete' employee.id %}">Excluir</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
