{% extends "base.html" %}
{% block content %}
    <section class="min-h-screen flex flex-col items-center justify-center  text-black px-4">
        <div class="flex w-full max-w-6xl h-[600px] shadow-2xl rounded-2xl relative overflow-hidden bg-white/5 backdrop-blur-lg border border-white/10">
            <div class="absolute top-4 left-5 z-20">
                <a href="{% url 'home' %}"
                   class="w-10 h-10 bg-white rounded-full flex items-center justify-center shadow-md hover:bg-gray-100 transition">
                    <i class="fa-solid fa-arrow-left text-[#047857] text-xl"></i>
                </a>
            </div>

            <!-- Lado esquerdo com imagem -->
            <div class="relative w-1/2 bg-[url('/static/images/bg.png')] bg-cover bg-center flex flex-col items-start px-12 gap-6 pt-20 text-white">
                <!-- Overlay escuro -->
                <div class="absolute inset-0 bg-black/15 z-0"></div>

                <!-- Conteúdo -->
                <div class="relative z-10 space-y-4 text-justify">
                    <h1 class="text-5xl font-extrabold leading-tight drop-shadow-md mx-auto">Bem-vindo à sua área de bem-estar</h1>

                    <p class="text-xl text-white/90 leading-relaxed font-semibold">
                        Aqui, você acompanha sua jornada profissional com mais consciência e equilíbrio.
                    </p>

                    <p class="text-xl text-white/90 leading-relaxed">
                        A <strong>MindTechCare</strong> está ao seu lado para te ajudar a identificar sinais de sobrecarga, prevenir o burnout e promover uma rotina mais saudável no trabalho.
                    </p>

                    <p class="text-xl text-white/90 leading-relaxed">
                        Entre com seus dados e veja como você está se sentindo — e como a empresa pode caminhar junto com você.
                    </p>
                </div>
                <p class="text-xl text-center mt-6 mx-auto">© 2025 MindTechCare.</p>

            </div>

            <!-- Formulário de login -->
            <div class="w-1/2 flex flex-col items-center justify-center px-10 py-12 gap-6">
                <form method="post"
                      class="formulario-login w-full max-w-md flex flex-col gap-4">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit"
                            class="w-full bg-[#047857] hover:bg-[#064e3b] transition-colors text-white font-bold py-3 rounded-xl shadow-lg mt-4">
                        Entrar
                    </button>
                </form>

                <div class="flex flex-col gap-2 text-lg text-black/70 text-center mt-4">
                    <p>
                        Esqueceu a senha?
                        <a href="{% url 'password_reset' %}"
                           class="text-primary font-bold hover:underline">Recuperar senha</a>
                    </p>
                </div>
            </div>

        </div>

    </section>
{% endblock content %}
