{% extends "github/base_generic.html" %}

{% block content %}
  <h2>Lista de Atividades GitHub</h2>
  <a href="{% url 'atividade_create' %}">Criar nova atividade</a>
  <ul>
    {% for atividade in atividades %}
      <li>
        {{ atividade.commit_mensagem }} - {{ atividade.data_commit }}
        - <a href="{% url 'atividade_update' atividade.id %}">Editar</a>
        - <a href="{% url 'atividade_delete' atividade.id %}">Excluir</a>
      </li>
    {% empty %}
      <li>Nenhuma atividade encontrada.</li>
    {% endfor %}
  </ul>
{% endblock %}
