{% extends "github/base_generic.html" %}

{% block content %}
  <h2>Lista de Repositórios GitHub</h2>
  <a href="{% url 'repositorio_create' %}">Criar novo repositório</a>
  <ul>
    {% for repositorio in repositorios %}
      <li>
        <a href="{% url 'repositorio_update' repositorio.id %}">{{ repositorio.github_username }}/{{ repositorio.nome_repositorio }}</a>
        - <a href="{% url 'repositorio_delete' repositorio.id %}">Excluir</a>
      </li>
    {% empty %}
      <li>Nenhum repositório encontrado.</li>
    {% endfor %}
  </ul>
{% endblock %}
